<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @review.text %>
</p>

<p>
  <b>Score:</b>
  <%= @review.score %>
</p>

<p>
  <b>Book:</b>
  <%= @review.book %>
</p>


<%= link_to 'Edit', edit_book_review_path(@review.book, @review) %> |
<%= link_to 'Back', book_reviews_path(@review.book) %>
